.users {
  background-color: white;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 10px;
  width: 100%;
  overflow: hidden;
}

.users ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin:auto;
  font-size: 18px;
}

.pagination span {
  padding: 5px;
  cursor: pointer;
}

.active_page {
  color: rgb(100, 206, 255);
  font-size: 24px;
}


